{% extends 'base.html.twig' %}

{% block title %}trt-change-mot-de-pasee{% endblock %}

{% block body %}
<h1 class="text-center mt-5">Je change mon mot de passe</h1>

<h5 class='text-center mt-4'>Bienvenue {{app.user.firstname}} sur cette page tu peut modifierton mon de mot passe </h5>

<p class="ms-5">
- Mon prenom :{{app.user.firstname}}</br>
-Mon nom : {{app.user.lastname}}</br>
-Mon emai : {{app.user.email}}</br>
</p>
<div class="container">
{{form(form)}}
</div>


{% endblock %}