{% extends 'base.html.twig' %}

{% block body %}
    <h1 class="text-center mt-5 mb-5">Détails du candidat</h1>

    <div class="card mt-5">
        <div class="card-body">
            <h5 class="card-title">Candidat: {{ candidacy.user.lastname }} {{ candidacy.user.firstname }}</h5>
            <h6 class="card-subtitle mb-2 text-muted">Email: {{ candidacy.user.email }}</h6>
            {% if candidacy.user.candidat is not null and candidacy.user.candidat.cv is not null %}
                <h6 class="card-subtitle mb-2 text-muted">CV: <a href="{{ asset('uploads/cv/' ~ candidacy.user.candidat.cv) }}" download="{{ candidacy.user.candidat.cv }}">Télécharger le CV</a></h6>
            {% endif %}

            {% if candidacy.isApproved is null %}
                <form action="{{ path('app_approve_candidacy', { id: candidacy.id }) }}" method="POST">
                    {{ form_row(approved) }}
                    <button type="submit" class="btn btn-primary mt-3">Valider la candidature</button>
                </form>
            {% else %}
                <p class="text-success mt-3">La candidature a été validée.</p>
            {% endif %}
        </div>
    </div>
{% endblock %}
