{% extends 'base.html.twig' %}

{% block title %}trt-admin-detail-utilisateur
{% endblock %}

{% block body %}

	<h1 class="text-center mt-5">
		Détail utilisateur</h1>

	<div class="d-flex justify-content-center mt-5">
		<div class="card border-primary mb-3" style="width: 18rem;">
			<div class="card-body">
				<h5 class="card-title">{{user.lastname}}</h5>
				<h6 class="card-subtitle mb-2 text-muted">{{user.firstname}}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{user.email}}</h6>
				<h6 class="card-subtitle mb-2 text-muted">{{user.roles[0]|replace({'ROLE_': ''})}}</h6>
				{% if user.isApproved is not null and not user.isApproved %}
				<h6 class="card-subtitle mb-2 text-muted">{{form(approved)}}</h6>
				{% endif %}
					
				

				{% if user.candidat is not null and user.candidat.cv is not null %}
					<a href="{{ asset('uploads/cv/' ~ user.candidat.cv) }}" download="{{ user.candidat.cv }}">
						<h6 class="card-subtitle mb-2 text-muted">cv: télécharger le cv</h6>
					</a>
				{% endif %}
				<p class="card-text text-center">
					<a href={{path('app_admin')}} class="role">retour a la liste</a>

				</p>
			</div>
		</div>


		<div class='col-sm-2 d-flex justify-content-center'>
			{{form(addRole)}}
			
			</div>
		</div>
	{% endblock %}
