{% extends 'base.html.twig' %}

{% block title %}trt-admin-detail-utilisateur{% endblock %}

{% block body %}

<h1 class="text-center mt-5 mb-5"> Détail utilisateur</h1>
<div class="row d-flex justify-content-center mt-5">
<div class="col-4  ">
				<div class="card border-primary mb-3" style="width: 18rem;">
					<div class="card-body">
						<h5 class="card-title">Nom: {{user.lastname}}</h5>
						<h6 class="card-subtitle mb-2 text-muted">Prénom: {{user.firstname}}</h6>
                        <h6 class="card-subtitle mb-2 text-muted">Email: {{user.email}}</h6>
						<h6 class="card-subtitle mb-2 text-muted">Satut: {{user.roles[0]|replace({'ROLE_': ''})}}</h6>
						<p class="card-text">
							<a href={{path('app_users_list')}} class="role">retour a la liste</a>
							
						</p>
					</div>
				</div>
			</div>
          
<div class="col-md-3">
{{form(addRole)}}
</div>
</div>
{% endblock %}
